@model LocalBetBiga.Models.Entities.Manager
@{
    Layout = "_ManagerDashboardLayout";
    //ViewData["agentSideDashboard"] = Model;
}
<h1>Welcome @Model.Email</h1>

<link href="css/style.min.css" rel="stylesheet">
<link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
<!-- Custom CSS -->
<link href="~/js/chartist/dist/chartist.min.css" rel="stylesheet" />
<link rel="stylesheet" href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="~/js/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" />
<!-- Custom CSS -->
<link href="css/style.min.css" rel="stylesheet">

<div id="ct-visits" style="height: 405px;">
    <div class="chartist-tooltip" style="top: -17px; left: -12px; width:150px; height:35px">
        <span class="chartist-tooltip-value">6</span>
    </div>
</div>




<script src="~/js/jquery/dist/jquery.min.js"></script>


<!-- Bootstrap tether Core JavaScript -->
<script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/app-style-switcher.js"></script>
<script src="~/js/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="~/js/waves.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="~/js/chartist/dist/chartist.min.js"></script>
<script src="~/js/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/js/pages/dashboards/dashboard1.js"></script>
